
.App {
	text-align: center;
	color: blue;
}
.App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}
.App-link {
	color: #61dafb;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
table{
  /* border: 1px solid black; */
  border-collapse: collapse;
  
  width: 100%;
  height: 10vh;
  color: black;
  text-align: center;
  /* margin-left: 20%; */
  
}
tr,th{
  border: 1px solid rgb(132, 184, 237);
  width: 20%;
  height: 9vh;
}
th{
  background: rgb(67, 153, 239);
  color: white;
  text-transform: capitalize;
  font-size: 20px;
}
tr:nth-child(even){
  background: #84cffa;
}
tr:nth-child(odd){
  background: #82f5aa;
}
